h2 a {
    color: #C25100;
    font-family: 'Lobster';
    font-size: 36pt;
}
body {
    padding-left: 15px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.jumbotron container {
  background-image: url("../media/blur-book.png");
  background-image: cover;
  }
.jumbotron h1 {
  color: #FFFFFF;
  text-align: center;
}
p {
  color: red;
}
