body {
  margin-bottom: 0;
  margin-right: 0;
  background: #F5F5DC;
}
h1 a, h2 a, h2, h1 {
  color: #c25100;

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Radley', serif;
}
p, li {
  font-family: 'Space Mono', monospace;
}
.card {
  width: 75%;
  background: #F5F5DC;
  border: none;
  text-align: justify;
}
.books {
  width: 220px;
  float: left;
}
.desc {
  margin-left: 15px;
}

.header-image {
  position: relative;
  width: 100%;
  color: white;
  padding: 0;
  margin: 0;
}
header {
  padding-bottom: 50px;
}

a, a:hover {
  color: #696969;
  text-decoration: none;
}

.sidebar-nav {
  width:23%;
  right: 0;
  position: absolute;
  list-style: none;
  padding: 0;
  height: 100%;
  margin-bottom: 0;
  float: right;
}

.display-4 {
   position: absolute;
   text-align: center;
   color: white;
   margin-left: 10%;
   top: 55%;
}
.lead {
  position: absolute;
  text-align: center;
  color: white;
  margin-left: 10%;
  top: 70%;
}
.comment {
  margin: 20px 0px 20px 20px;
}
