body {
  margin-bottom: 0;
  margin-right: 0;
  background: #F5F5DC;
}
h1 a, h2 a, h2, h1 {
  color: #c25100;

}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Radley', serif;
}
p, li {
  font-family: 'Space Mono', monospace;
}
.card {
  width: 75%;
  background: #F5F5DC;
  border: none;
  text-align: justify;
}
.books  {
  width: 220px;
  float: left;
}
.authors {
  width: 150px;
  float: left;
}

.desc {
  margin-left: 15px;
}

.picture {
  position: relative;
}
.header-image {
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  padding-bottom: 50px;
}
.text-block {
  position: absolute;
  top:50%;
  left: 10%;
  color: white;
}
a, a:hover {
  color: #696969;
  text-decoration: none;
}

.sidebar-nav {
  width:23%;
  right: 0;
  position: absolute;
  list-style: none;
  padding: 0;
  height: 100%;
  margin-bottom: 0;
  float: right;
}

.display-4 {
   text-align: center;
   color: white;
}
.display-4:hover {
  color: white;
}

.comment {
  margin: 30px 0px 20px 20px;
}
.container {
  min-height: calc(100vh - 70px);
}
.footer {
  position: absolute;
  height: 50px;
  background: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: auto;
}
