{% extends 'books/base.html' %}
{% load static %}


{% block content %}
  <h2 class='text-center'>Nowy autor</h2>
  <div class="col-md-6 offset-md-3">
    <form  method="POST" action="{% url 'author_create' %}">
      {% csrf_token %}
      {% if form.errors %}
      <p>Your Form has Errors...</p>
            {% for field in form %}
              {% if field.errors %}
                {{ field.errors }}
              {% endif %}
            {% endfor %}
      {% endif %}
        {{ form.as_p }}

        <input type="submit" value="Zapisz" class="btn btn-outline-secondary">
    </form>
  </div<

{% endblock %}
