<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block title %}<title>Moje książki</title>{% endblock %}
  </head>
  <body>
    <div class="page-header">

      <h1><a href="/">Moje książki</a></h1>
    </div>
    {% block sidebare %}
      <ul>
        <li><a href="{% url 'books' %}">Home</a></li>
        <li><a href="">Książki</a></li>
        <li><a href="">Autorzy</a></li>
        <li><a href="{% url 'about' %}">O mnie</a></li>
      </ul>
    {% endblock %}

    <h3><a href="{% url 'book_new' %}">Dodaj nową książkę</a></h3>


    {% block content %}

     {% endblock %}

    
    </body>
</html>
