{% extends 'books/base.html' %}
{% load static %}


{% block content %}
  {% if books %}

    {% for book in books %}
    <div class="card">
      <div class="card-body">
        <img class="books" src="/media/{{ book.image }}" alt="">
        <div class="row">
          <div class="col-sm-9">
            <h2><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h2>
          </div>

        </div>
        <div class="row">
          <h4 class="desc"><a href="{% url 'author_detail' pk=book.author.id %}">{{ book.author }}</a></h4>
        </div>
        <div class="row">
            <p class="desc">{{ book.text|linebreaksbr }}</p>
        </div>

    </div>
    <hr>
        <p class="comment"><a href="{% url 'book_detail' pk=book.pk %}">Comments:
          {{ book.approved_comments.count }}</a></p>
  </div>


  {% endfor %}
  {% else %}
    <p>Brak książek</p>
  {% endif %}
  {% include 'books/pagination.html' with page=page_obj %}
{% endblock %}
