{% extends "books/base.html" %}
{% load static %}

{% block content %}


         <h1>Tytuł: {{ book.title }}</h1>

       <p><strong>Autor: </strong><a href="{% url 'author_detail' pk=book.author.id %}">{{ book.author }}</a></p>
       <p><strong>Opis: </strong> {{ book.text }}</p>
       <p><strong>Gatunek: </strong> {% for genre in book.genre.all %}
        {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
       <p><strong>Język: </strong> {% for language in book.language.all %}
        {{ language }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>



    <p><a class="btn btn-outline-secondary" href="{% url 'book_edit' pk=book.pk %}">Edytuj</span></a></p>
<hr>
<p><a class="btn btn-outline-secondary" href="{% url 'add_comment_to_book' pk=book.pk %}">Dodaj komentarz</a></p>

{% for comment in post.comments.all %}
  {% if user.is_authenticated or comment.approved_comment %}
  <div class="comment">
    <div class="date">
      {{ comment.created }}
      {% if not comment.approved_comment %}
        <p><a class="btn btn-outline-secondary" href="{% url 'comment_remove' pk=comment.pk %}"></a></p>
        <p><a class="btn btn-outline-secondary" href="{% url 'comment_approve' pk=comment.pk %}"></a></p>
      {% endif %}
    </div>

    <strong>{{ comment.name }}</strong>
    <p>{{ comment.body|linebreaks }}</p>
  </div>
  {% endif %}
{% empty %}
  <p>Brak komentarzy</p>
{% endfor %}


{% endblock %}
</div>
