{% extends "books/base.html" %}


{% block content %}
  <h1>Tytuł: {{ book.title }}</h1>

  <p><strong>Autor:</strong><a href="">{{ book.author }}</a></p>
  <p><strong>Opis:</strong> {{ book.text }}</p>
  <p><strong>Gatunek:</strong> {% for genre in book.genre.all %}
     {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

<hr>
{% for comment in post.comments.all %}
  <div class="comment">
    <div class="date">{{ comment.created }}</div>
    <strong>{{ comment.name }}</strong>
    <p>{{ comment.body|linebreaks }}</p>
  </div>
{% empty %}
  <p>No comments here yet: </p>
{% endfor %}

{% endblock %}
