{% extends "books/base.html" %}
{% load static %}

{% block content %}


         <h1>Tytuł: {{ book.title }}</h1>

       <p><strong>Autor: </strong><a href="{% url 'author_detail' pk=book.author.id %}">{{ book.author }}</a></p>
       <p><strong>Opis: </strong> {{ book.text }}</p>
       <p><strong>Gatunek: </strong> {% for genre in book.genre.all %}
        {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
       <p><strong>Język: </strong> {% for language in book.language.all %}
        {{ language }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>


<div style="margin-left: 20px;margin-top:20px">
    <a class="btn btn-secondary" href="{% url 'book_edit' pk=book.pk %}">Edytuj</span></a>
<hr>
{% for comment in post.comments.all %}
  <div class="comment">
    <div class="date">{{ comment.created }}</div>
    <strong>{{ comment.name }}</strong>
    <p>{{ comment.body|linebreaks }}</p>
  </div>
{% empty %}
  <p>Brak komentarzy</p>
{% endfor %}

{% if new_comment %}
  <h2>Twój komentarz został dodany.</h2>
{% else %}
  <h2>Dodaj nowy komentarz</h2>
  <form  action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Dodaj komentarz"></p>

  </form>
{% endif %}
{% endblock %}
</div>
