{% extends 'books/base.html' %}
{% load static %}

{% block content %}
  {% if books %}

    {% for book in books %}
      <div class="book">
        <h1><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h1>

        <h4><a href="{% url 'author_detail' pk=book.author.id %}">{{ book.author }}</a></h4>


          <p>{{ book.text|linebreaksbr }}</p>
        <p><a href="{% url 'book_detail' pk=book.pk %}">Comments:
          {{ book.approved_comments.count }}</a></p>

      </div>
    {% endfor %}
  {% else %}
    <p>Brak książek</p>
  {% endif %}
  {% include 'books/pagination.html' with page=page_obj %}
{% endblock %}
