
{% block pagination %}
{% if is_paginated %}
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">poprzednia</a>
    {% endif %}
    <span class="page-current">
      <p>Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.</p>
    </span>
    {% if page_obj.has_next %}
      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">następna</a>
    {% endif %}
  </span>
</div>
{% endif %}
{% endblock %}
